<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add song</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/viewSongs.css">
    </head>
    <body>
        <div class="main-nav">
            <a href="/">Mainpage</a>
            <a href="/viewgoodsongs">View good songs</a>
            <a href="/viewsongs">View all songs</a>
        </div>
        <div class="block">
            <form method="post">
                <label class="formsStuff" for="artist">Artist</label><br>
                <input class="formsStuff" type="text" id="artist" name="artist"><br>
                <label class="formsStuff" for="songName">Song title</label><br>
                <input class="formsStuff" type="text" id="songName" name="songName"><br>
                <label class="formsStuff" for="genre">Genre</label><br>
                <input class="formsStuff" type="text" id="genre" name="genre"><br>
                <button class="formsStuff" type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>
